$outer_length: 300px;
$path_length: 555px;
$line_length: 121px;
$line_length--sml: 70px;

$easing: cubic-bezier(.55, 0, .1, 1);
$fast: .2s;

.social {
  &_group {
    margin-left: 15px;
  }
  &-btn{
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0;
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
      transition: transform $fast $easing;
      will-change: transform;
    }

    &:hover {
      svg {
        path {
          stroke-dasharray: 1901;
          stroke-dashoffset: 1901;
          animation: dash 1.2s linear forwards;
        }

        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}